{% extends 'index.html.twig' %}
{% block container %}
    <div id="box_news">
        <h2>kontakt</h2>
        {{ form_start(form, { 'attr': { 'novalidate': 'novalidate'}}) }}
        <div>
            <div id="formularz">
                <div>
                    <h3>Imię</h3>
                    {{ form_widget(form.imie, {'attr': {'class': 'form-control'}}) }}
                    <div id="blad">{{ form_errors(form.imie) }}</div>
                    <h3>E-mail</h3>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    <div id="blad">{{ form_errors(form.email) }}</div>
                    <h3>Temat</h3>
                    {{ form_widget(form.temat, {'attr': {'class': 'form-control'}}) }}
                    <div id="blad">{{ form_errors(form.temat) }}</div>
                </div>
                <div>
                    <h3>Wiadomość</h3>
                    {{ form_widget(form.wiadomosc, {'attr': {'class': 'form-control'}}) }}
                    <div id="blad">{{ form_errors(form.wiadomosc) }}</div>
                </div>
            </div>
            <div id="button">
                <h3>
                    <button type="submit" class="btn btn-default btn-sm">Wyślij wiadomość</button>
                </h3>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}