{% extends 'index.html.twig' %}
{% block container %}
    <div id="header">
        <div class="container">
            <div id="logo">
                <h1><a href="{{ path('homepage') }}">Anna Zaremba</a></h1>
                <span>Programowanie z pasją</span>
            </div>
            <nav id="nav">
                <ul>
                    <li class="active"><a href="{{ path('homepage') }}">Strona główna</a></li>
                    <li><a href="{{ path('omnie') }}">O mnie</a></li>
                    <li><a href="{{ path('kontakt') }}">Kontakt</a></li>
                    <li><a href="{{ path('admin') }}">Moje konto</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="main">
        <div class="container">
            <div class="row">
                <div id="content" class="12u skel-cell-important">
                    <section>
                        <header>
                            <h3>Wiadomość została wysłana.</h3>
                        </header>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div id="copyright">
        <div class="container">
            Copyright &copy; <a href="{{ path('homepage') }}">Anna Zaremba</a> 2017
        </div>
    </div>
{% endblock %}