<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Anna Zaremba</title>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('public/bootstrap/3.3.7/css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
<div class="row" id="wrapper">
    <div id="logo">
        <a href="{{ path('homepage') }}">
            <h2>Anna Zaremba</h2>
        </a>
    </div>
    <div id="menu">
        <div id="search_top">
            <input type="text" size="30"/>
        </div>
        <ul>
            <li><a href="{{ path('homepage') }}">Strona główna</a></li>
            <li><a href="{{ path('omnie') }}">O mnie</a></li>
            <li><a href="{{ path('kontakt') }}">Kontakt</a></li>
            <li><a href="{{ path('admin') }}">Moje konto</a></li>
        </ul>
    </div>
    <div id="header">
        <div id="title_head">
            <h2>Anna Zaremba</h2>
        </div>
    </div>
    {% block container %}
    {% endblock %}
</div>
</body>
<div id="footer">
    <p>
    <div class="copyright">Copyright &copy; <a href="{{ path('homepage') }}">Anna Zaremba</a> 2017</div>
    </p>
</div>
</html>
