{% block tabelaWpisow %}
<div class="table-responsive" id="tabela">
    <table class="table table-striped">
        <tr>
            <th width="50">Id</th>
            <th>Data dodania</th>
            <th>Temat</th>
            <th>Treść</th>
            <th>Kategoria</th>
            <th>Edycja</th>
            <th>Usunięcie</th>
        </tr>
        {% for wpis in wpisy %}
            <tr>
                <td>{{ wpis.id }}</td>
                <td>{{ wpis.createat }}</td>
                <td>{{ wpis.temat }}</td>
                <td>{{ wpis.tresc|nl2br }}</td>
                <td>
                    {% for kategoria in wpis.kategorie %}
                        <div>{{ kategoria.nazwa }}</div>
                    {% endfor %}
                </td>
                <td>
                    <form method="post" action="{{ path('edytujwpis') }}">
                        <input type="hidden" name="id" value="{{ wpis.id }}">
                        <input type="submit" class="btn btn-primary btn-sm" value="edytuj">
                    </form>
                </td>
                <td>
                    <form method="post" action="{{ path('usunwpis') }}">
                        <input type="hidden" name="id" value="{{ wpis.id }}">
                        <input type="submit" class="btn btn-primary btn-sm" value="usuń">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}