{% extends 'index.html.twig' %}
{% block container %}
    {{ tinymce_init() }}
    <div class="container">
        <div class="row">
            <h2>Dodaj wpis</h2>
            <div>
                {{ form_start(form, { 'attr': { 'novalidate': 'novalidate'}}) }}
                <div id="formularz">
                    <div>
                        <label>Temat</label>
                    </div>
                    <div>
                        {{ form_widget(form.temat, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div id="blad">
                        {{ form_errors(form.temat) }}
                    </div>
                    <div>
                        <label>Treść</label>
                    </div>
                    <div>
                        {{ form_widget(form.tresc, {'attr': {'class': 'form-control tinymce'}}) }}
                    </div>
                    <div id="blad">
                        {{ form_errors(form.tresc) }}
                    </div>
                    <div>
                        <label>Kategorie</label>
                    </div>
                    <div id="dodajKategorie">
                        {{ form_widget(form.kategorie, {'attr': { 'class': 'form-control'}}) }}
                    </div>
                    <div id="blad">
                        {{ form_errors(form.kategorie) }}
                    </div>
                </div>
                <div id="przycisk">
                    <button class="btn btn-default" type="submit">Dodaj wpis</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% include('tabelaWpisow.html.twig') %}
{% endblock %}
