{% extends 'index.html.twig' %}
{% block container %}
    {{ tinymce_init() }}
    <div class="row">
        <div class="col-lg-8" id="box_news">
            <div>
                <h2>DODAJ WPIS</h2>
                {{ form_start(form, { 'attr': { 'novalidate': 'novalidate'}}) }}
                <div>
                    <div class="row" id="formularz">
                        <div>
                            <div>
                                <h4>Temat</h4>
                                {{ form_widget(form.temat, {'attr': {'class': 'form-control'}}) }}
                                <div style="color: red; ">{{ form_errors(form.temat) }}</div>
                            </div>
                            <h4>Treść</h4>
                            {{ form_widget(form.tresc, {'attr': {'class': 'form-control tinymce'}}) }}
                            <div style="color: red; ">{{ form_errors(form.tresc) }}</div>
                            <div><h4>Kategorie</h4>
                                {{ form_widget(form.kategorie, {'attr': { 'class': 'form-control'}}) }}
                                <div style="color: red;">{{ form_errors(form.kategorie) }}</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>
                            <button type="submit" class="btn btn-default btn-sm">Dodaj wpis</button>
                        </h3>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        {% block menu %}
            {% include('menu.html.twig') %}
        {% endblock %}
    </div>
    <div>
        {% block tabelaWpisow %}
            {% include('tabelaWpisow.html.twig') %}
        {% endblock %}
    </div>
{% endblock %}